@import '../../common_projects_utilities/css/font-awesome', 
'../../common_projects_utilities/css/reset', 
'../../common_projects_utilities/css/social-networks';

* {
    margin: 0;
}

/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Colors */
$body-color: #fff;
$primary-color: #000;
$background-color: #171717;
$theme-color: #ff5f5f;

/* GENERAL */
body {
    font-family: $roboto;
    background-color: cadetblue;
    color: $body-color;
}
a {text-decoration: none;}
strong {font-weight: 700;}

/* HELPERS */
.text-uppercase {text-transform: uppercase;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.block {display: block;}
.bold {font-weight: 700;}
.link {
    font-weight: 700;
    color: $theme-color;
}
img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.row {
    display: flex;
    &--full-height {height: 100%;}
    &--wrap {flex-wrap: wrap;}
    &--column {flex-direction: column;}
    &--between {justify-content: space-between;}
    &--center {justify-content: center;}
    &--end {justify-content: flex-end;}
    &--acenter {align-items: center;}
    &--aend {align-items: flex-end;}
}

///// HEADER /////
.header {
    &__chart {
        width: 100%;
        height: 100vh;
    }
}



@media only screen and (max-width: 768px) {
    // CABECERA
    .header {        
        &__chart {
            width: 100%;
            height: 100vh;
        }
    }
}